
.disnone{
    display: none !important;
}
.hang1{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.hang2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.hang3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.uael-hotspot-container{ display: none !important; }

#menu-1-269a059 li.menu-item > .sub-menu { top:44px; }
#menu-1-269a059 li.menu-item:hover > .sub-menu { display:block; }
#menu-1-269a059 li.menu-item > .sub-menu > li .sub-menu { width:28em; top:0; left:100%; }
#menu-1-269a059 li.menu-item .sub-menu li:hover > a { color:#2862B5; }



